# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data / outputs
data/**/*
!data/.gitkeep
!data/**/.gitkeep
wandb/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db